@charset "UTF-8";
html {
  font-family: "Arial", "メイリオ";
}

html h2 {
  font-weight: 300;
  letter-spacing: 2px;
}

html h3 {
  font-weight: 300;
  letter-spacing: 1px;
}

body {
  margin: 0;
}

header {
  background: white;
  height: 60px;
  display: flex;
  justify-content: space-between;
  padding: 0 5%;
  align-items: center;
}

header .header-title h1 a {
  text-decoration: none;
  color: black;
}

header .header-title h1 a:hover {
  color: #e65f78;
}

header nav ul {
  list-style: none;
  display: flex;
}

header nav ul li a {
  text-decoration: none;
  color: black;
  margin-left: 30px;
}

header nav ul li a:hover {
  color: #e65f78;
}

.firstview {
  height: 664px;
  width: 100%;
  background-size: cover;
  background-image: url("../img/1stview.png");
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.firstview h2 {
  color: white;
}

.firstview h2 span {
  font-size: 60px;
}

.aboutme {
  padding: 70px 5%;
  display: flex;
  justify-content: space-between;
}

.aboutme .aboutme-img img {
  width: 536px;
  height: 333px;
  border-radius: 10px;
}

.aboutme .aboutme-content {
  width: 49%;
  height: 333px;
}

.aboutme .aboutme-content h2 {
  margin-block-start: 0;
}

.aboutme .aboutme-content ul {
  list-style: none;
  display: flex;
  padding-inline-start: 0;
  margin-block-end: 0;
  margin-top: 40px;
}

.aboutme .aboutme-content ul li {
  margin-right: 20px;
}

.aboutme .aboutme-content ul li a {
  transition: all 0.3s ease 0s;
}

.aboutme .aboutme-content ul li a:hover {
  fill: #e65f78;
}

.skill {
  background: gray;
}

.skill {
  background: #f9f9f9;
  padding: 70px 5%;
  margin: 0 auto;
}

.skill .skill-title {
  margin: 0 auto;
  margin-bottom: 40px;
}

.skill .skill-title h2 {
  font-size: 40px;
  text-align: center;
}

.skill .skill-parameter {
  margin: 0 auto;
}

.skill .skill-parameter table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  background: white;
}

.skill .skill-parameter table tr {
  border-bottom: solid 1px #eee;
  cursor: pointer;
}

.skill .skill-parameter table tr:hover {
  background-color: #d4f0fd;
}

.skill .skill-parameter table th, .skill .skill-parameter table td {
  text-align: center;
  width: 25%;
  padding: 15px 0;
}

.skill .skill-parameter table td.icon {
  background-size: 25px;
  background-position: left 70px center;
  background-repeat: no-repeat;
  padding-left: 20px;
}

.skill .skill-parameter table td.icon.html {
  background-image: url("../img/html-5.png");
}

.skill .skill-parameter table td.icon.css {
  background-image: url("../img/css-3.png");
}

.skill .skill-parameter table td.icon.js {
  background-image: url("../img/javascript.png");
}

.skill .skill-parameter table td.icon.vue {
  background-image: url("../img/vue.png");
}

.skill .skill-parameter table td.icon.nuxt {
  background-image: url("../img/nuxt-icon.png");
}

.skill .skill-parameter table td.icon.firebase {
  background-image: url("../img/firebase.png");
}

.skill .skill-parameter table td.icon.node {
  background-image: url("../img/nodejs.png");
}

.works {
  background: white;
  padding: 70px 5%;
}

.works .works-title {
  margin: 0 auto;
  margin-bottom: 40px;
}

.works .works-title h2 {
  font-size: 40px;
  text-align: center;
  margin-bottom: 20px;
}

.works ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-inline-start: 0;
}

.works ul li {
  border: 2px solid #dcdcdc;
  margin-bottom: 20px;
  width: 32%;
  height: auto;
  border-radius: 10px;
}

.works ul li img {
  width: 100%;
  border-radius: 8px 8px 0 0;
}

.works ul li .works-content {
  padding: 10px 20px;
}

.works ul li .works-content h3 span a {
  font-size: 12px;
}

.works ul li .works-content p {
  font-size: 14px;
}

.works ul li .works-content p a {
  font-size: 12px;
  border-bottom: 1px dashed black;
}

.works ul li .works-content .works-number {
  text-align: right;
  font-size: 22px;
}

.modal_wrap input {
  display: none;
}

.modal_overlay {
  display: flex;
  justify-content: center;
  overflow: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  opacity: 0;
  transition: opacity 0.5s, transform 0s 0.5s;
  transform: scale(0);
}

.modal_trigger {
  position: absolute;
  width: 100%;
  height: 100%;
}

.modal_content {
  align-self: center;
  width: 60%;
  max-width: 800px;
  padding: 30px 30px 15px;
  box-sizing: border-box;
  background: #fff;
  line-height: 1.4em;
  transform: scale(0.3);
  transition: 0.5s;
}

.close_button {
  position: absolute;
  top: 14px;
  right: 16px;
  font-size: 24px;
  cursor: pointer;
}

.modal_wrap input:checked ~ .modal_overlay {
  opacity: 1;
  transform: scale(1);
  transition: opacity 0.5s;
}

.modal_wrap input:checked ~ .modal_overlay .modal_content {
  transform: scale(1);
}

.open_button {
  font-size: 12px;
  border-bottom: 1px dashed black;
  transition: all 0.3s ease 0s;
  cursor: pointer;
}

.open_button:hover {
  color: #e65f78;
  border-bottom: 1px dashed #e65f78;
}

.timeline {
  background: #f9f9f9;
  padding: 70px 5%;
  margin: 0 auto;
}

.timeline .timeline-title {
  margin: 0 auto;
  margin-bottom: 50px;
}

.timeline .timeline-title h2 {
  font-size: 40px;
  text-align: center;
}

.timeline .timeline_content .timeline_line {
  width: 50%;
  box-sizing: border-box;
  border-right: 2px dashed #cfcdcd;
  padding-bottom: 40px;
  display: flex;
  position: relative;
  transition: all 1s ease-in-out 0s;
}

.timeline .timeline_content .timeline_line:hover .content_box {
  border: 2px dashed #cfcdcd;
  padding: 9px;
}

.timeline .timeline_content .timeline_line:hover h4 {
  color: #545454;
}

.timeline .timeline_content .timeline_line:hover h5 {
  color: #e65f78;
}

.timeline .timeline_content .timeline_line .timeline_yoko {
  width: 20%;
  height: 60px;
  border-bottom: 2px dashed #cfcdcd;
}

.timeline .timeline_content .timeline_line .content_box {
  box-sizing: border-box;
  width: 80%;
  height: auto;
  padding: 10px;
  text-align: right;
  transition: all 0.3s ease 0s;
}

.timeline .timeline_content .timeline_line .content_box h4 {
  color: #e65f78;
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 10px;
  transition: all 0.3s ease 0s;
}

.timeline .timeline_content .timeline_line .content_box h5 {
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 10px;
  transition: all 0.3s ease 0s;
}

.timeline .timeline_content .timeline_line .content_box p {
  font-size: 16px;
  line-height: 1.65;
  color: #748182;
}

.timeline .timeline_content .timeline_line:nth-child(2) {
  width: 50.24%;
  box-sizing: border-box;
  border-left: 2px dashed #cfcdcd;
  border-right: none;
  padding-bottom: 40px;
  margin: 0 0 0 auto;
}

.timeline .timeline_content .timeline_line:nth-child(2) .content_second {
  text-align: left;
  margin: 0 0 0 auto;
}

.timeline .timeline_content .timeline_line:first-child::before {
  content: "";
  width: 11px;
  height: 11px;
  background: #cfcdcd;
  box-sizing: content-box;
  border: 5px solid #fff;
  box-shadow: 0 0 0 2px #cfcdcd;
  transform: rotate(45deg);
  position: absolute;
  right: -11px;
  top: -10px;
}

.timeline .timeline_content .timeline_line:last-child::after {
  content: "";
  width: 11px;
  height: 11px;
  background: #cfcdcd;
  box-sizing: content-box;
  border: 5px solid #fff;
  box-shadow: 0 0 0 2px #cfcdcd;
  transform: rotate(45deg);
  position: absolute;
  right: -11px;
  bottom: 0;
}

.contact {
  padding: 70px 5%;
  width: 40%;
  margin: 0 auto;
  background: white;
}

.contact .contact-title {
  margin: 0 auto;
  margin-bottom: 40px;
}

.contact .contact-title h2 {
  font-size: 40px;
  text-align: center;
}

.contact .contact-title p {
  text-align: center;
}

.contact form input {
  width: 100%;
  height: 50px;
  background: #E9CDC1;
  border-style: none;
  margin-bottom: 40px;
  border-radius: 5px;
}

.contact form textarea {
  width: 100%;
  height: 150px;
  border-style: none;
  border-radius: 5px;
  background: #E9CDC1;
  margin-bottom: 20px;
}

.contact form button {
  font-size: 16px;
  display: block;
  margin: 40px auto 0 auto;
  border-radius: 30px;
  width: 50%;
  height: 50px;
  color: white;
  border-style: none;
  background: black;
  transition: all 0.3s ease 0s;
}

.contact form button:hover {
  background: #e65f78;
}

.contact .checkbox_posi {
  position: relative;
}

.contact .check {
  width: 20px;
  height: 20px;
  position: absolute;
  left: 220px;
  top: -24px;
}

footer {
  padding: 20px 0;
  height: auto;
  background: black;
}

footer ul {
  list-style: none;
  display: flex;
  justify-content: center;
}

footer ul li {
  margin-right: 20px;
}

footer ul li a {
  fill: white;
  transition: all 0.3s ease 0s;
}

footer ul li a:hover {
  fill: #e65f78;
}

footer p {
  text-align: center;
  color: white;
}
